body{
	background-color: ;
		
}
#container{
	background-color: white;
	width: 50%;
	height: 70%;
	text-align: center;
	border-color: black;
	border-width: 2px;	border-style: solid;
	                                                                                                                                                                                                                                                                                                                                                                                                                      
	margin: 0 auto 0 auto;
	background-color:  ;
}

#teste{
	color: blue;
}	
campotexto{
	width: 70%;
	background-color: white;
}
#txt_orientador{

	width: 50%; /*largura*/
	background-color: ;
}
#txt_nome{
	
	width: 30%; /*largura*/
}
#txt_btn{
	font-family: arial;
	font-size: 14px
	text-transform: uppercase
	font-weight: 700
	border: none;
	padding: 10px
	cursor: pointer
}
	.btn-green{
	background: green
}
	.btn-red{
	background: red
}
	