body{
	background-color: gray;
		
}
#container{
	/*background-color: blue; */
	background-color: white;
	width: 50%; /*largura*/
	height: 100%; /*altura*/
	margin: 0px auto 0px auto;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	text-align:center;
}
#teste{
	color: blue;}
	
#txt_name{
	border-width: 3px;
	width: 100%; /*largura*/
}
#txt_codigo{
	border-width: 3px;
	width: 30%; /*largura*/
}
#txt_email{
	border-width: 3px;
	width: 70%; /*largura*/
}

