body{
	background-color: gray;
		
}
#container{
	/*background-color: blue; */
	background-color: white;
	width: 40%; /*largura*/
	height: 85%; /*altura*/
	margin: 0px auto 0px auto;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	text-align:center;
}
#teste{
	color: blue;
#txt_name{
	border-width: 5px;
	width: 90%; /*largura*/
}
#txt_codigo{
	border-width: 2px;
	width: 20%; /*largura*/
}
#txt_email{
	border-width: 2px;
	width: 70%; /*largura*/
}

