body{
	background-color: ;
		
}
#container{
	background-color: white;
	width: 60%;
	height: 60%;
	text-align: center;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	margin: 0 auto 0 auto;
	background-color:  ;
}
#teste{
	color: blue;
}	


#txt_orientador{

	width: 90%; /*largura*/
	background-color: ;
}
#txt_nome{

	width: 50%; /*largura*/
	background-color: ;
}
#txt_descriçao{

	width: 50%; /*largura*/
	background-color: ;
}
#txt_btn{
	font-family: arial;
	font-size: 14px
	text-transform: uppercase
	font-weight: 700
	border: none;
	padding: 10px
	cursor: pointer
}
	.btn-green{
	background: green
}
	.btn-red{
	background: red
}
	
	